html {
  --color-primary: #061735;
  --color-secondary: #f44336;
  --color-secondary-light: #ff7961;
  --color-divider: #e0e0e0;
  --color-nav-icon: var(--color-primary);
  --color-nav-icon-active: #8e8e8e;
  --color-grey-400: #e4e4e4;
  --lang-font: Nunito, sans-serif;
}
